%div.result(style='display:none')

%div.loading(style='display:none')
  Criando link…

%form(action='/' method='post' id='vuash-form')
  %textarea.new(name='body' required autofocus maxlength="4096" placeholder='Escreva uma mensagem que só poderá ser lida uma vez.')
  %input(type='submit' value='Criar um Vuash')
