!!!
%html
  %meta(charset="utf-8")
  %title Vuash
  %link(href="/stylesheets/application.css" rel="stylesheet")

  %meta(property="og:image" content="https://vua.sh/images/vuash_logo.png")
  %meta(property='og:type' content='website')
  %meta(property="og:url" content="https://vua.sh/")
  %meta(property="og:site_name" content="Vuash")
  %meta(property="og:title" content="Vuash")
  %meta(property="og:description" content="Mensagens criptografadas, que só podem ser lidas uma vez.")

  %script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
  %script(type='text/javascript' src='/javascripts/ZeroClipboard.js')
  %script(type='text/javascript' src='/javascripts/app.js')

  %header.top
    %div.inner
      %h1.logo
        %a(href='/')
          %img(src="images/logo.svg")
          Vuash
  %main
    %div.inner= yield
