!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    %title Vuash

    %meta(property="og:image" content="https://vua.sh/images/logo.png")
    %meta(property='og:type' content='website')
    %meta(property="og:url" content="https://vua.sh/")
    %meta(property="og:site_name" content="Vuash")
    %meta(property="og:title" content="Vuash")
    %meta(property="og:description" content="Mensagens criptografadas, que só podem ser lidas uma vez.")

    %link(href="images/logo.png" rel="shortcut icon")

    %script(type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js')
    %script(type='text/javascript' src='/javascripts/app.js')

    %link(href="/stylesheets/application.css" rel="stylesheet")

  %body
    %div.wrapper
      %header.top
        %h1.logo
          %a(href='/')
            %img(src="images/logo.svg")
            Vuash
        -# %button.toggle-fullscreen(type="button")
      %main= yield
      %footer
        Desenvolvimento
        %a(href="http://current.com.br/" target="_blank") Current
        e
        %a(href="http://standardcode.com.br/" target="_blank") Standard Code
        \-
        %a(href="http://github.com/current/vuash" target="_blank") GitHub
