!!!
%html
  %meta(charset="utf-8")
  %title VUASH - Mensagens seguras que podem ser lidas uma vez
  %link(href="/stylesheets/application.css" rel="stylesheet")

  %div.wrapper
    %header.top
      %h1.logo
        %a(href='/')
          %img(src="images/logo.svg")
          Vuash
    %main= yield
