@import "reset.css"
@import "bourbon/bourbon"

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700)
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono)

$font: Quicksand, sans-serif
$mono: Oxygen Mono, monospace

$yellow: #fe0
$white: #fff
$light: #cfd7eb
$medium: darken($light, 20%)
$dark: #464952

=calc($attribute, $value)
  #{$attribute}: -moz-calc(#{$value})
  #{$attribute}: -webkit-calc(#{$value})
  #{$attribute}: calc(#{$value})

body
  color: $dark
  font-family: $mono
  line-height: 1.5

body,
input,
button,
textarea
  -webkit-font-smoothing: antialiased

.inner
  margin: 0 auto
  max-width: 640px
  padding: 0 20px

.top
  border-bottom: 1px solid $light
  margin-bottom: 40px
  padding: 20px 0

a
  background-color: $light
  border-radius: .3em
  color: $dark
  display: inline-block
  font:
    size: .8em
    weight: 600
  padding: .2em .5em
  text-decoration: none
  text-transform: uppercase

  &:hover,
  &:focus
    background-color: $yellow

h1.logo
  color: $dark
  font:
    family: $font
    size: 2em
  text-transform: uppercase

  a
    background: none
    font:
      size: 1em
      weight: normal
    padding: 0

  img
    width: 1em

h2
  font-size: 1.5em
  margin-bottom: .5em

p:not(:last-child)
  color: $medium
  margin-bottom: 4em

textarea,
article.message
  background-color: $white
  border: none
  color: $dark
  font:
    family: $mono
    size: 1.2em
  margin-bottom: 1em
  min-height: 15em
  outline: none
  resize: vertical
  width: 100%
  +box-sizing(border-box)

  +placeholder
    color: $light

article.message
  min-height: 0
  margin-bottom: 4em
  resize: none

input[type=submit]
  background-color: $dark
  border: none
  border-radius: .3em
  color: $white
  cursor: pointer
  display: block
  font:
    family: $font
    size: 1.2em
    weight: 600
  margin: 0
  outline: none
  padding: 1em
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: 100%
  +appearance(none)
  +box-sizing(border-box)
  +transition(all 100ms ease-out)

  &:hover,
  &:focus
    background-color: lighten($dark, 10%)

  &:active
    background-color: darken($dark, 5%)

p.link

  input
    background-color: $yellow
    border: none
    border-radius: .3em
    color: $dark
    display: inline-block
    font:
      family: $mono
      size: 1em
    line-height: 1
    margin: 0 2% 0 0
    padding: 1em
    vertical-align: top
    width: 78%
    +box-sizing(border-box)

  #copy-button
    @extend input[type=submit]
    display: inline-block
    font-size: 1.1em
    line-height: 1
    padding: 1em
    vertical-align: top
    width: 20%

footer.actions
  text-align: center
