@import "reset.css"
@import "bourbon/bourbon"

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700)
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono)

$font: Quicksand, sans-serif
$mono: Oxygen Mono, monospace

$yellow: #fe0
$dark: #464952
$medium: #cfd7eb
$light: #f3f5fa
$white: #fff

=calc($attribute, $value)
  #{$attribute}: -moz-calc(#{$value})
  #{$attribute}: -webkit-calc(#{$value})
  #{$attribute}: calc(#{$value})

body
  color: $dark
  font-family: $font
  line-height: 1.5

.wrapper
  margin: 1em auto
  max-width: 600px
  padding: 1em

.top
  margin-bottom: 2em

a
  background-color: $medium
  border-radius: .5em
  color: $dark
  display: inline-block
  font:
    size: .8em
    weight: 600
  padding: .2em .5em
  text-decoration: none
  text-transform: uppercase

  &:hover,
  &:focus
    background-color: $yellow

h1.logo
  color: $dark
  font-size: 2em
  text-transform: uppercase

  a
    background: none
    font:
      size: 1em
      weight: normal
    padding: 0

  img
    width: 1.5em
    vertical-align: -.3em

h2
  border-top: 1px solid $medium
  font-weight: 600
  margin-bottom: 1.5em
  padding-top: 1em
  text-transform: uppercase

p:not(:last-child)
  margin-bottom: 2em

textarea,
article.message
  background-color: $light
  border: 2px solid $dark
  border-radius: .5em
  color: $dark
  font:
    family: $mono
    size: 1em
  margin-bottom: 1em
  min-height: 20em
  outline: none
  padding: 1em
  resize: vertical
  width: 100%
  +box-sizing(border-box)

  &:focus
    background-color: $white

  +placeholder
    color: $medium
    font:
      family: $font
      size: 1.5em
    text-align: center
    padding: 4em

article.message
  min-height: 0
  margin-bottom: 4em
  resize: none

input[type=submit]
  background-color: $dark
  border: none
  border-radius: .5em
  color: $light
  cursor: pointer
  display: block
  font:
    family: $font
    size: 1.2em
  margin: 0
  outline: none
  padding: 1em
  text-align: center
  text-decoration: none
  text-transform: uppercase
  width: 100%
  +box-sizing(border-box)
  +transition(all 100ms ease-out)

  &:hover,
  &:focus
    background-color: lighten($dark, 10%)

  &:active
    background-color: darken($dark, 5%)

p.link

  input
    background-color: $yellow
    border: 2px solid $dark
    border-radius: .5em
    color: $dark
    display: inline-block
    font-size: 1em
    margin: 0 2% 0 0
    padding: 1em
    vertical-align: top
    width: 78%
    +box-sizing(border-box)

    &:focus
      background-color: $white

  #copy-button
    @extend input[type=submit]
    border: 2px solid $dark
    display: inline-block
    font-size: 1em
    padding: 0.95em
    vertical-align: top
    width: 20%

footer.actions
  text-align: center
